In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Literacy Total.csv')

df.head(50)

,State Code,State Name,Educational level,TOT_P,TOT_M,TOT_F
0,0,INDIA,Illiterate,447216165,188506636,258709529
1,0,INDIA,Literate but below primary,146897597,78445099,68452498
2,0,INDIA,Primary but below middle,184170833,99311072,84859761
3,0,INDIA,Middle but below matric/secondary,133903266,77629578,56273688
4,0,INDIA,Matric/Secondary but below graduate,192193344,116331881,75861463
5,0,INDIA,Graduate and above,68288971,42120460,26168511
6,1,JAMMU & KASHMIR,Illiterate,5474069,2375991,3098078
7,1,JAMMU & KASHMIR,Literate but below primary,987774,541130,446644
8,1,JAMMU & KASHMIR,Primary but below middle,1285909,719512,566397
9,1,JAMMU & KASHMIR,Middle but below matric/secondary,1666381,1015129,651252
10,1,JAMMU & KASHMIR,Matric/Secondary but below graduate,2244013,1443868,800145
11,1,JAMMU & KASHMIR,Graduate and above,653764,401279,252485
12,2,HIMACHAL PRADESH,Illiterate,1824866,729283,1095583
13,2,HIMACHAL PRADESH,Literate but below primary,611475,326058,285417
14,2,HIMACHAL PRADESH,Primary but below middle,1162995,576764,586231
15,2,HIMACHAL PRADESH,Middle but below matric/secondary,826611,452919,373692
16,2,HIMACHAL PRADESH,Matric/Secondary but below graduate,1852386,1076380,776006
17,2,HIMACHAL PRADESH,Graduate and above,446609,251164,195445
18,3,PUNJAB,Illiterate,9036201,4203409,4832792
19,3,PUNJAB,Literate but below primary,2227684,1273936,953748
20,3,PUNJAB,Primary but below middle,4288200,2273540,2014660
21,3,PUNJAB,Middle but below matric/secondary,3066305,1747063,1319242
22,3,PUNJAB,Matric/Secondary but below graduate,6755536,3945160,2810376
23,3,PUNJAB,Graduate and above,1760846,873776,887070
24,4,CHANDIGARH,Illiterate,250012,115317,134695
25,4,CHANDIGARH,Literate but below primary,90869,51211,39658
26,4,CHANDIGARH,Primary but below middle,130243,73645,56598
27,4,CHANDIGARH,Middle but below matric/secondary,111879,67964,43915
28,4,CHANDIGARH,Matric/Secondary but below graduate,265112,161391,103721
29,4,CHANDIGARH,Graduate and above,194453,104748,89705
30,5,UTTARAKHAND,Illiterate,3205339,1274065,1931274
31,5,UTTARAKHAND,Literate but below primary,1034583,554430,480153
32,5,UTTARAKHAND,Primary but below middle,1550574,803056,747518
33,5,UTTARAKHAND,Middle but below matric/secondary,1406871,806770,600101
34,5,UTTARAKHAND,Matric/Secondary but below graduate,1815486,1105814,709672
35,5,UTTARAKHAND,Graduate and above,910288,512068,398220
36,6,HARYANA,Illiterate,8752474,3700667,5051807
37,6,HARYANA,Literate but below primary,2473145,1403012,1070133
38,6,HARYANA,Primary but below middle,3772022,2075334,1696688
39,6,HARYANA,Middle but below matric/secondary,2705282,1557670,1147612
40,6,HARYANA,Matric/Secondary but below graduate,5343778,3426435,1917343
41,6,HARYANA,Graduate and above,1877085,1102809,774276
42,7,DELHI,Illiterate,4050174,1792470,2257704
43,7,DELHI,Literate but below primary,1458061,796975,661086
44,7,DELHI,Primary but below middle,2230894,1197622,1033272
45,7,DELHI,Middle but below matric/secondary,1931411,1099958,831453
46,7,DELHI,Matric/Secondary but below graduate,3891873,2316711,1575162
47,7,DELHI,Graduate and above,2757844,1535972,1221872
48,8,RAJASTHAN,Illiterate,30273155,11862585,18410570
49,8,RAJASTHAN,Literate but below primary,8083827,4423518,3660309

In [3]:
df1 = pd.read_csv('Bi and Tri Literacy2.csv', usecols=['State Code' , 'State Name' , 'Educational level' , 'Three Male' ,'Three Female'])


df1.head()

,State Code,State Name,Educational level,Three Male,Three Female
0,0,INDIA,Illiterate,1890285,1989573
1,0,INDIA,Literate but below primary,2108024,1625592
2,0,INDIA,Primary but below middle,4782211,3854085
3,0,INDIA,Middle but below matric/secondary,6266289,4477061
4,0,INDIA,Matric/Secondary but below graduate,20411147,13488072

In [4]:
df2 = df.merge(df1,on=['State Code' , 'Educational level'],how='inner')

df2['male_ratio'] = np.round((df2['Three Male'] / df2['TOT_M']),4)
df2['female_ratio'] = np.round((df2['Three Female'] / df2['TOT_F']),4)

df2.head(50)

,State Code,State Name_x,Educational level,TOT_P,TOT_M,TOT_F,State Name_y,Three Male,Three Female,male_ratio,female_ratio
0,0,INDIA,Illiterate,447216165,188506636,258709529,INDIA,1890285,1989573,0.0100,0.0077
1,0,INDIA,Literate but below primary,146897597,78445099,68452498,INDIA,2108024,1625592,0.0269,0.0237
2,0,INDIA,Primary but below middle,184170833,99311072,84859761,INDIA,4782211,3854085,0.0482,0.0454
3,0,INDIA,Middle but below matric/secondary,133903266,77629578,56273688,INDIA,6266289,4477061,0.0807,0.0796
4,0,INDIA,Matric/Secondary but below graduate,192193344,116331881,75861463,INDIA,20411147,13488072,0.1755,0.1778
5,0,INDIA,Graduate and above,68288971,42120460,26168511,INDIA,13316422,8830121,0.3162,0.3374
6,1,JAMMU & KASHMIR,Illiterate,5474069,2375991,3098078,JAMMU & KASHMIR,62798,69985,0.0264,0.0226
7,1,JAMMU & KASHMIR,Literate but below primary,987774,541130,446644,JAMMU & KASHMIR,57593,45221,0.1064,0.1012
8,1,JAMMU & KASHMIR,Primary but below middle,1285909,719512,566397,JAMMU & KASHMIR,113132,83282,0.1572,0.1470
9,1,JAMMU & KASHMIR,Middle but below matric/secondary,1666381,1015129,651252,JAMMU & KASHMIR,214671,134169,0.2115,0.2060
10,1,JAMMU & KASHMIR,Matric/Secondary but below graduate,2244013,1443868,800145,JAMMU & KASHMIR,516604,319416,0.3578,0.3992
11,1,JAMMU & KASHMIR,Graduate and above,653764,401279,252485,JAMMU & KASHMIR,268773,171769,0.6698,0.6803
12,2,HIMACHAL PRADESH,Illiterate,1824866,729283,1095583,HIMACHAL PRADESH,2546,2267,0.0035,0.0021
13,2,HIMACHAL PRADESH,Literate but below primary,611475,326058,285417,HIMACHAL PRADESH,5838,4223,0.0179,0.0148
14,2,HIMACHAL PRADESH,Primary but below middle,1162995,576764,586231,HIMACHAL PRADESH,17397,14325,0.0302,0.0244
15,2,HIMACHAL PRADESH,Middle but below matric/secondary,826611,452919,373692,HIMACHAL PRADESH,27032,20823,0.0597,0.0557
16,2,HIMACHAL PRADESH,Matric/Secondary but below graduate,1852386,1076380,776006,HIMACHAL PRADESH,105451,72684,0.0980,0.0937
17,2,HIMACHAL PRADESH,Graduate and above,446609,251164,195445,HIMACHAL PRADESH,38312,29797,0.1525,0.1525
18,3,PUNJAB,Illiterate,9036201,4203409,4832792,PUNJAB,73110,66354,0.0174,0.0137
19,3,PUNJAB,Literate but below primary,2227684,1273936,953748,PUNJAB,160047,117531,0.1256,0.1232
20,3,PUNJAB,Primary but below middle,4288200,2273540,2014660,PUNJAB,431987,333051,0.1900,0.1653
21,3,PUNJAB,Middle but below matric/secondary,3066305,1747063,1319242,PUNJAB,632781,479293,0.3622,0.3633
22,3,PUNJAB,Matric/Secondary but below graduate,6755536,3945160,2810376,PUNJAB,2334744,1704848,0.5918,0.6066
23,3,PUNJAB,Graduate and above,1760846,873776,887070,PUNJAB,670638,679085,0.7675,0.7655
24,4,CHANDIGARH,Illiterate,250012,115317,134695,CHANDIGARH,1299,1868,0.0113,0.0139
25,4,CHANDIGARH,Literate but below primary,90869,51211,39658,CHANDIGARH,6956,5282,0.1358,0.1332
26,4,CHANDIGARH,Primary but below middle,130243,73645,56598,CHANDIGARH,12976,10098,0.1762,0.1784
27,4,CHANDIGARH,Middle but below matric/secondary,111879,67964,43915,CHANDIGARH,15224,11719,0.2240,0.2669
28,4,CHANDIGARH,Matric/Secondary but below graduate,265112,161391,103721,CHANDIGARH,68857,50027,0.4266,0.4823
29,4,CHANDIGARH,Graduate and above,194453,104748,89705,CHANDIGARH,71819,63261,0.6856,0.7052
30,5,UTTARAKHAND,Illiterate,3205339,1274065,1931274,UTTARAKHAND,2052,2720,0.0016,0.0014
31,5,UTTARAKHAND,Literate but below primary,1034583,554430,480153,UTTARAKHAND,3959,3177,0.0071,0.0066
32,5,UTTARAKHAND,Primary but below middle,1550574,803056,747518,UTTARAKHAND,8223,6398,0.0102,0.0086
33,5,UTTARAKHAND,Middle but below matric/secondary,1406871,806770,600101,UTTARAKHAND,13503,8751,0.0167,0.0146
34,5,UTTARAKHAND,Matric/Secondary but below graduate,1815486,1105814,709672,UTTARAKHAND,42600,26776,0.0385,0.0377
35,5,UTTARAKHAND,Graduate and above,910288,512068,398220,UTTARAKHAND,36861,29071,0.0720,0.0730
36,6,HARYANA,Illiterate,8752474,3700667,5051807,HARYANA,10805,9303,0.0029,0.0018
37,6,HARYANA,Literate but below primary,2473145,1403012,1070133,HARYANA,16756,11705,0.0119,0.0109
38,6,HARYANA,Primary but below middle,3772022,2075334,1696688,HARYANA,57382,40291,0.0276,0.0237
39,6,HARYANA,Middle but below matric/secondary,2705282,1557670,1147612,HARYANA,86355,64077,0.0554,0.0558
40,6,HARYANA,Matric/Secondary but below graduate,5343778,3426435,1917343,HARYANA,310436,201262,0.0906,0.1050
41,6,HARYANA,Graduate and above,1877085,1102809,774276,HARYANA,186645,151975,0.1692,0.1963
42,7,DELHI,Illiterate,4050174,1792470,2257704,DELHI,6055,7533,0.0034,0.0033
43,7,DELHI,Literate but below primary,1458061,796975,661086,DELHI,21611,18220,0.0271,0.0276
44,7,DELHI,Primary but below middle,2230894,1197622,1033272,DELHI,40117,33854,0.0335,0.0328
45,7,DELHI,Middle but below matric/secondary,1931411,1099958,831453,DELHI,53941,43119,0.0490,0.0519
46,7,DELHI,Matric/Secondary but below graduate,3891873,2316711,1575162,DELHI,236321,187009,0.1020,0.1187
47,7,DELHI,Graduate and above,2757844,1535972,1221872,DELHI,357519,301985,0.2328,0.2471
48,8,RAJASTHAN,Illiterate,30273155,11862585,18410570,RAJASTHAN,15212,16945,0.0013,0.0009
49,8,RAJASTHAN,Literate but below primary,8083827,4423518,3660309,RAJASTHAN,18350,13423,0.0041,0.0037

In [5]:
data ={}
df4 = pd.DataFrame()

for i in range(36):
    
    df3 = df2[df2['State Code'] == i]
    
    data['State Code'] = i
    v1 = df3.iloc[df3.male_ratio.argmax(),0:].to_numpy().tolist()
    v2 = df3.iloc[df3.female_ratio.argmax(),0:].to_numpy().tolist()
    
    data['male_ratio'] = v1[9]
    data['male_literacy-group'] = v1[2]
    data['female_ratio'] = v2[10]
    data['female_literacy-group'] = v2[2]
    
    df4 =df4.append(data,ignore_index = True)
    
df4.head(50)

df4.to_csv('literacy-gender-3.csv',index = False)

In [6]:
df5 = pd.read_csv('Bi and Tri Literacy2.csv', usecols=['State Code' , 'State Name' , 'Educational level' , 'Two Male' ,'Two Female'])


df5.head()

,State Code,State Name,Educational level,Two Male,Two Female
0,0,INDIA,Illiterate,15961299,22425111
1,0,INDIA,Literate but below primary,14018935,11592553
2,0,INDIA,Primary but below middle,21806285,18127963
3,0,INDIA,Middle but below matric/secondary,18948568,13424743
4,0,INDIA,Matric/Secondary but below graduate,35611302,23693554

In [7]:
df6 = df.merge(df5,on=['State Code' , 'Educational level'],how='inner')

df6['male_ratio'] = np.round((df6['Two Male'] / df6['TOT_M']),4)
df6['female_ratio'] = np.round((df6['Two Female'] / df6['TOT_F']),4)

df6.head(50)

,State Code,State Name_x,Educational level,TOT_P,TOT_M,TOT_F,State Name_y,Two Male,Two Female,male_ratio,female_ratio
0,0,INDIA,Illiterate,447216165,188506636,258709529,INDIA,15961299,22425111,0.0847,0.0867
1,0,INDIA,Literate but below primary,146897597,78445099,68452498,INDIA,14018935,11592553,0.1787,0.1694
2,0,INDIA,Primary but below middle,184170833,99311072,84859761,INDIA,21806285,18127963,0.2196,0.2136
3,0,INDIA,Middle but below matric/secondary,133903266,77629578,56273688,INDIA,18948568,13424743,0.2441,0.2386
4,0,INDIA,Matric/Secondary but below graduate,192193344,116331881,75861463,INDIA,35611302,23693554,0.3061,0.3123
5,0,INDIA,Graduate and above,68288971,42120460,26168511,INDIA,14969198,9842308,0.3554,0.3761
6,1,JAMMU & KASHMIR,Illiterate,5474069,2375991,3098078,JAMMU & KASHMIR,280421,351471,0.1180,0.1134
7,1,JAMMU & KASHMIR,Literate but below primary,987774,541130,446644,JAMMU & KASHMIR,258690,207631,0.4781,0.4649
8,1,JAMMU & KASHMIR,Primary but below middle,1285909,719512,566397,JAMMU & KASHMIR,416281,323126,0.5786,0.5705
9,1,JAMMU & KASHMIR,Middle but below matric/secondary,1666381,1015129,651252,JAMMU & KASHMIR,603140,379827,0.5942,0.5832
10,1,JAMMU & KASHMIR,Matric/Secondary but below graduate,2244013,1443868,800145,JAMMU & KASHMIR,666356,361931,0.4615,0.4523
11,1,JAMMU & KASHMIR,Graduate and above,653764,401279,252485,JAMMU & KASHMIR,98348,58828,0.2451,0.2330
12,2,HIMACHAL PRADESH,Illiterate,1824866,729283,1095583,HIMACHAL PRADESH,33735,51748,0.0463,0.0472
13,2,HIMACHAL PRADESH,Literate but below primary,611475,326058,285417,HIMACHAL PRADESH,52503,42914,0.1610,0.1504
14,2,HIMACHAL PRADESH,Primary but below middle,1162995,576764,586231,HIMACHAL PRADESH,89586,85564,0.1553,0.1460
15,2,HIMACHAL PRADESH,Middle but below matric/secondary,826611,452919,373692,HIMACHAL PRADESH,70960,56535,0.1567,0.1513
16,2,HIMACHAL PRADESH,Matric/Secondary but below graduate,1852386,1076380,776006,HIMACHAL PRADESH,170982,119337,0.1588,0.1538
17,2,HIMACHAL PRADESH,Graduate and above,446609,251164,195445,HIMACHAL PRADESH,55158,46960,0.2196,0.2403
18,3,PUNJAB,Illiterate,9036201,4203409,4832792,PUNJAB,191475,223531,0.0456,0.0463
19,3,PUNJAB,Literate but below primary,2227684,1273936,953748,PUNJAB,264682,197902,0.2078,0.2075
20,3,PUNJAB,Primary but below middle,4288200,2273540,2014660,PUNJAB,733458,634541,0.3226,0.3150
21,3,PUNJAB,Middle but below matric/secondary,3066305,1747063,1319242,PUNJAB,589551,445709,0.3375,0.3379
22,3,PUNJAB,Matric/Secondary but below graduate,6755536,3945160,2810376,PUNJAB,933897,633782,0.2367,0.2255
23,3,PUNJAB,Graduate and above,1760846,873776,887070,PUNJAB,127574,119671,0.1460,0.1349
24,4,CHANDIGARH,Illiterate,250012,115317,134695,CHANDIGARH,8420,12120,0.0730,0.0900
25,4,CHANDIGARH,Literate but below primary,90869,51211,39658,CHANDIGARH,13006,10256,0.2540,0.2586
26,4,CHANDIGARH,Primary but below middle,130243,73645,56598,CHANDIGARH,20893,18164,0.2837,0.3209
27,4,CHANDIGARH,Middle but below matric/secondary,111879,67964,43915,CHANDIGARH,21494,15505,0.3163,0.3531
28,4,CHANDIGARH,Matric/Secondary but below graduate,265112,161391,103721,CHANDIGARH,53199,34395,0.3296,0.3316
29,4,CHANDIGARH,Graduate and above,194453,104748,89705,CHANDIGARH,25931,21643,0.2476,0.2413
30,5,UTTARAKHAND,Illiterate,3205339,1274065,1931274,UTTARAKHAND,101518,142666,0.0797,0.0739
31,5,UTTARAKHAND,Literate but below primary,1034583,554430,480153,UTTARAKHAND,86057,69212,0.1552,0.1441
32,5,UTTARAKHAND,Primary but below middle,1550574,803056,747518,UTTARAKHAND,135795,103931,0.1691,0.1390
33,5,UTTARAKHAND,Middle but below matric/secondary,1406871,806770,600101,UTTARAKHAND,122352,80282,0.1517,0.1338
34,5,UTTARAKHAND,Matric/Secondary but below graduate,1815486,1105814,709672,UTTARAKHAND,234683,145976,0.2122,0.2057
35,5,UTTARAKHAND,Graduate and above,910288,512068,398220,UTTARAKHAND,176014,141344,0.3437,0.3549
36,6,HARYANA,Illiterate,8752474,3700667,5051807,HARYANA,160533,220843,0.0434,0.0437
37,6,HARYANA,Literate but below primary,2473145,1403012,1070133,HARYANA,202714,147873,0.1445,0.1382
38,6,HARYANA,Primary but below middle,3772022,2075334,1696688,HARYANA,357656,276895,0.1723,0.1632
39,6,HARYANA,Middle but below matric/secondary,2705282,1557670,1147612,HARYANA,328458,241855,0.2109,0.2107
40,6,HARYANA,Matric/Secondary but below graduate,5343778,3426435,1917343,HARYANA,988975,588052,0.2886,0.3067
41,6,HARYANA,Graduate and above,1877085,1102809,774276,HARYANA,487771,366126,0.4423,0.4729
42,7,DELHI,Illiterate,4050174,1792470,2257704,DELHI,119397,163858,0.0666,0.0726
43,7,DELHI,Literate but below primary,1458061,796975,661086,DELHI,165174,134279,0.2073,0.2031
44,7,DELHI,Primary but below middle,2230894,1197622,1033272,DELHI,290678,243526,0.2427,0.2357
45,7,DELHI,Middle but below matric/secondary,1931411,1099958,831453,DELHI,325553,252980,0.2960,0.3043
46,7,DELHI,Matric/Secondary but below graduate,3891873,2316711,1575162,DELHI,1077849,757684,0.4652,0.4810
47,7,DELHI,Graduate and above,2757844,1535972,1221872,DELHI,974607,772532,0.6345,0.6323
48,8,RAJASTHAN,Illiterate,30273155,11862585,18410570,RAJASTHAN,370912,599581,0.0313,0.0326
49,8,RAJASTHAN,Literate but below primary,8083827,4423518,3660309,RAJASTHAN,457114,357477,0.1033,0.0977

In [8]:
data ={}
df8 = pd.DataFrame()

for i in range(36):
    
    df7 = df6[df6['State Code'] == i]
    
    data['State Code'] = i
    v1 = df7.iloc[df7.male_ratio.argmax(),0:].to_numpy().tolist()
    v2 = df7.iloc[df7.female_ratio.argmax(),0:].to_numpy().tolist()
    
    data['male_ratio'] = v1[9]
    data['male_literacy-group'] = v1[2]
    data['female_ratio'] = v2[10]
    data['female_literacy-group'] = v2[2]
    
    df8 =df8.append(data,ignore_index = True)
    
df8.head(50)

df8.to_csv('literacy-gender-2.csv',index = False)

In [9]:
df9 = pd.read_csv('Bi and Tri Literacy2.csv', usecols=['State Code' , 'State Name' , 'Educational level' , 'Two Male' ,'Two Female' , 'Three Male' , 'Three Female'])


df5.head()

,State Code,State Name,Educational level,Two Male,Two Female
0,0,INDIA,Illiterate,15961299,22425111
1,0,INDIA,Literate but below primary,14018935,11592553
2,0,INDIA,Primary but below middle,21806285,18127963
3,0,INDIA,Middle but below matric/secondary,18948568,13424743
4,0,INDIA,Matric/Secondary but below graduate,35611302,23693554

In [10]:
df10 = df.merge(df9,on=['State Code' , 'Educational level'],how='inner')


df10['One Male'] = df10['TOT_M'] - df10['Two Male'] - df10['Three Male']
df10['One Female'] = df10['TOT_F'] - df10['Two Female'] - df10['Three Female']


df10['male_ratio'] = np.round((df10['One Male'] / df10['TOT_M']),4)
df10['female_ratio'] = np.round((df10['One Female'] / df10['TOT_F']),4)

df10.head(50)

,State Code,State Name_x,Educational level,TOT_P,TOT_M,TOT_F,State Name_y,Two Male,Two Female,Three Male,Three Female,One Male,One Female,male_ratio,female_ratio
0,0,INDIA,Illiterate,447216165,188506636,258709529,INDIA,15961299,22425111,1890285,1989573,170655052,234294845,0.9053,0.9056
1,0,INDIA,Literate but below primary,146897597,78445099,68452498,INDIA,14018935,11592553,2108024,1625592,62318140,55234353,0.7944,0.8069
2,0,INDIA,Primary but below middle,184170833,99311072,84859761,INDIA,21806285,18127963,4782211,3854085,72722576,62877713,0.7323,0.7410
3,0,INDIA,Middle but below matric/secondary,133903266,77629578,56273688,INDIA,18948568,13424743,6266289,4477061,52414721,38371884,0.6752,0.6819
4,0,INDIA,Matric/Secondary but below graduate,192193344,116331881,75861463,INDIA,35611302,23693554,20411147,13488072,60309432,38679837,0.5184,0.5099
5,0,INDIA,Graduate and above,68288971,42120460,26168511,INDIA,14969198,9842308,13316422,8830121,13834840,7496082,0.3285,0.2865
6,1,JAMMU & KASHMIR,Illiterate,5474069,2375991,3098078,JAMMU & KASHMIR,280421,351471,62798,69985,2032772,2676622,0.8555,0.8640
7,1,JAMMU & KASHMIR,Literate but below primary,987774,541130,446644,JAMMU & KASHMIR,258690,207631,57593,45221,224847,193792,0.4155,0.4339
8,1,JAMMU & KASHMIR,Primary but below middle,1285909,719512,566397,JAMMU & KASHMIR,416281,323126,113132,83282,190099,159989,0.2642,0.2825
9,1,JAMMU & KASHMIR,Middle but below matric/secondary,1666381,1015129,651252,JAMMU & KASHMIR,603140,379827,214671,134169,197318,137256,0.1944,0.2108
10,1,JAMMU & KASHMIR,Matric/Secondary but below graduate,2244013,1443868,800145,JAMMU & KASHMIR,666356,361931,516604,319416,260908,118798,0.1807,0.1485
11,1,JAMMU & KASHMIR,Graduate and above,653764,401279,252485,JAMMU & KASHMIR,98348,58828,268773,171769,34158,21888,0.0851,0.0867
12,2,HIMACHAL PRADESH,Illiterate,1824866,729283,1095583,HIMACHAL PRADESH,33735,51748,2546,2267,693002,1041568,0.9503,0.9507
13,2,HIMACHAL PRADESH,Literate but below primary,611475,326058,285417,HIMACHAL PRADESH,52503,42914,5838,4223,267717,238280,0.8211,0.8348
14,2,HIMACHAL PRADESH,Primary but below middle,1162995,576764,586231,HIMACHAL PRADESH,89586,85564,17397,14325,469781,486342,0.8145,0.8296
15,2,HIMACHAL PRADESH,Middle but below matric/secondary,826611,452919,373692,HIMACHAL PRADESH,70960,56535,27032,20823,354927,296334,0.7836,0.7930
16,2,HIMACHAL PRADESH,Matric/Secondary but below graduate,1852386,1076380,776006,HIMACHAL PRADESH,170982,119337,105451,72684,799947,583985,0.7432,0.7526
17,2,HIMACHAL PRADESH,Graduate and above,446609,251164,195445,HIMACHAL PRADESH,55158,46960,38312,29797,157694,118688,0.6279,0.6073
18,3,PUNJAB,Illiterate,9036201,4203409,4832792,PUNJAB,191475,223531,73110,66354,3938824,4542907,0.9371,0.9400
19,3,PUNJAB,Literate but below primary,2227684,1273936,953748,PUNJAB,264682,197902,160047,117531,849207,638315,0.6666,0.6693
20,3,PUNJAB,Primary but below middle,4288200,2273540,2014660,PUNJAB,733458,634541,431987,333051,1108095,1047068,0.4874,0.5197
21,3,PUNJAB,Middle but below matric/secondary,3066305,1747063,1319242,PUNJAB,589551,445709,632781,479293,524731,394240,0.3004,0.2988
22,3,PUNJAB,Matric/Secondary but below graduate,6755536,3945160,2810376,PUNJAB,933897,633782,2334744,1704848,676519,471746,0.1715,0.1679
23,3,PUNJAB,Graduate and above,1760846,873776,887070,PUNJAB,127574,119671,670638,679085,75564,88314,0.0865,0.0996
24,4,CHANDIGARH,Illiterate,250012,115317,134695,CHANDIGARH,8420,12120,1299,1868,105598,120707,0.9157,0.8962
25,4,CHANDIGARH,Literate but below primary,90869,51211,39658,CHANDIGARH,13006,10256,6956,5282,31249,24120,0.6102,0.6082
26,4,CHANDIGARH,Primary but below middle,130243,73645,56598,CHANDIGARH,20893,18164,12976,10098,39776,28336,0.5401,0.5007
27,4,CHANDIGARH,Middle but below matric/secondary,111879,67964,43915,CHANDIGARH,21494,15505,15224,11719,31246,16691,0.4597,0.3801
28,4,CHANDIGARH,Matric/Secondary but below graduate,265112,161391,103721,CHANDIGARH,53199,34395,68857,50027,39335,19299,0.2437,0.1861
29,4,CHANDIGARH,Graduate and above,194453,104748,89705,CHANDIGARH,25931,21643,71819,63261,6998,4801,0.0668,0.0535
30,5,UTTARAKHAND,Illiterate,3205339,1274065,1931274,UTTARAKHAND,101518,142666,2052,2720,1170495,1785888,0.9187,0.9247
31,5,UTTARAKHAND,Literate but below primary,1034583,554430,480153,UTTARAKHAND,86057,69212,3959,3177,464414,407764,0.8376,0.8492
32,5,UTTARAKHAND,Primary but below middle,1550574,803056,747518,UTTARAKHAND,135795,103931,8223,6398,659038,637189,0.8207,0.8524
33,5,UTTARAKHAND,Middle but below matric/secondary,1406871,806770,600101,UTTARAKHAND,122352,80282,13503,8751,670915,511068,0.8316,0.8516
34,5,UTTARAKHAND,Matric/Secondary but below graduate,1815486,1105814,709672,UTTARAKHAND,234683,145976,42600,26776,828531,536920,0.7492,0.7566
35,5,UTTARAKHAND,Graduate and above,910288,512068,398220,UTTARAKHAND,176014,141344,36861,29071,299193,227805,0.5843,0.5721
36,6,HARYANA,Illiterate,8752474,3700667,5051807,HARYANA,160533,220843,10805,9303,3529329,4821661,0.9537,0.9544
37,6,HARYANA,Literate but below primary,2473145,1403012,1070133,HARYANA,202714,147873,16756,11705,1183542,910555,0.8436,0.8509
38,6,HARYANA,Primary but below middle,3772022,2075334,1696688,HARYANA,357656,276895,57382,40291,1660296,1379502,0.8000,0.8131
39,6,HARYANA,Middle but below matric/secondary,2705282,1557670,1147612,HARYANA,328458,241855,86355,64077,1142857,841680,0.7337,0.7334
40,6,HARYANA,Matric/Secondary but below graduate,5343778,3426435,1917343,HARYANA,988975,588052,310436,201262,2127024,1128029,0.6208,0.5883
41,6,HARYANA,Graduate and above,1877085,1102809,774276,HARYANA,487771,366126,186645,151975,428393,256175,0.3885,0.3309
42,7,DELHI,Illiterate,4050174,1792470,2257704,DELHI,119397,163858,6055,7533,1667018,2086313,0.9300,0.9241
43,7,DELHI,Literate but below primary,1458061,796975,661086,DELHI,165174,134279,21611,18220,610190,508587,0.7656,0.7693
44,7,DELHI,Primary but below middle,2230894,1197622,1033272,DELHI,290678,243526,40117,33854,866827,755892,0.7238,0.7316
45,7,DELHI,Middle but below matric/secondary,1931411,1099958,831453,DELHI,325553,252980,53941,43119,720464,535354,0.6550,0.6439
46,7,DELHI,Matric/Secondary but below graduate,3891873,2316711,1575162,DELHI,1077849,757684,236321,187009,1002541,630469,0.4327,0.4003
47,7,DELHI,Graduate and above,2757844,1535972,1221872,DELHI,974607,772532,357519,301985,203846,147355,0.1327,0.1206
48,8,RAJASTHAN,Illiterate,30273155,11862585,18410570,RAJASTHAN,370912,599581,15212,16945,11476461,17794044,0.9675,0.9665
49,8,RAJASTHAN,Literate but below primary,8083827,4423518,3660309,RAJASTHAN,457114,357477,18350,13423,3948054,3289409,0.8925,0.8987

In [14]:
data ={}
df12 = pd.DataFrame()

for i in range(36):
    
    df11 = df10[df10['State Code'] == i]
    
    data['State Code'] = i
    v1 = df11.iloc[df11.male_ratio.argmax(),0:].to_numpy().tolist()
    v2 = df11.iloc[df11.female_ratio.argmax(),0:].to_numpy().tolist()
    
    data['male_ratio'] = v1[13]
    data['male_literacy-group'] = v1[2]
    data['female_ratio'] = v2[14]
    data['female_literacy-group'] = v2[2]
    
    df12 =df12.append(data,ignore_index = True)
    
df12.head(50)

df12.to_csv('literacy-gender-1.csv',index = False)